{% extends 'base.html.twig' %}

{% block body %}
    <section id="about" class="container content-section text-center">
     <div class="row ">   
          <div class="col-lg-8 col-lg-offset-2">
                 <h2>Equipos participantes:</h2>
                    <div class="table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>   Nombre del Equipo </th>
                                <th>   Origen</th>
                                <th>   Logo</th>
                                 <th>  </th>
                            </tr>    
                        </thead>    
    
                  <tbody> 
                 {% if equipos is empty %}
                     {{'no hay equipos cargados'}}   
                 {% else %}    
                        {% for e in equipos %}

                                     <tr>
                                         <td>  {{ e.getNombre() }}</td>
                                          <td>  {{ e.getOrigen()  }} </td>

                                          {% if e.logo is not null and e.logo is not empty %}
                                           <td>
                                                <img class="img-responsive " src="{{ asset('uploads/logos/' ~ e.logo) }}" width="35" height="37" alt="escudo"> 
                                           </td>
                                           {% else %}
                                           <td>-</td>
                                            {% endif %}
                                          <td>
                                               <a href="{{path('jugadoresPorEquipo',{'idEquipo': e.getId() }) }}" class=" btn " > 
                                                        {{'Jugadores del equipo'|trans}}
                                               </a>  
                                          </td>   
                                     </tr>
                              {% endfor %}
                          {% endif %}
                        </tbody>
                        </table>
                       </div>
                  </div>
             </div>
           </section>
{% endblock %}
