{% extends 'base.html.twig' %}

{% block body %}



    <section id="about" class="container content-section text-center">
        <div class="row">   
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Fixture:</h2>
                <div class="table-responsive">
                    <table class="table ">
                        <h4>Partidos por jugar</h4>
                        <thead>
                            <tr>
                                <th>Equipo A</th>
                                <th>Equipo B</th>
                                <th> Fecha </th>
                            </tr>    
                        </thead>    
                        <!--ul id="navigation"-->
                        <tbody> 
                           {% if partidos is empty %}
                                {{'no hay partidos cargados'}}   
                              {% else %}    
                            {% for p in partidos %}
                                {% if not p.getTermino() %}
                                    <tr>
                                        <td>    {{ p.getEquipo1().getNombre() }}
                                            {% if p.getEquipo1().getLogo() is not null and p.getEquipo1().getLogo() is not empty %}
                                                <a href="{{ asset('uploads/logos/' ~ e.logo) }}">View logo</a>
                                            {%endif%}  
                                        </td>
                                        <td>    {{ p.getEquipo2().getNombre()  }} 
                                            {% if p.getEquipo2().getLogo() is not null and p.getEquipo2().getLogo() is not empty %}
                                                <a href="{{ asset('uploads/logos/' ~ e.logo) }}">View logo</a>
                                            {%endif%}  
                                        </td>

                                        <td> {{p.getHorario()|date('d-m  H:i') }} hs</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                                {% endif %}
                        </tbody>
                    </table> 
                </div>  
                        <div>
                            <p></p>
                            <p></p>

                        </div>
                <div class="table-responsive">
                    <table class="table ">
                        <h4>Partidos Jugados</h4>
                        <thead>
                            <tr>
                                <th>Equipo A</th>
                                <th>Equipo B</th>
                                <th>Puntos  Equipo A</th>
                                <th>Puntos  Equipo B</th>
                                <th> Ganador </th>
                                <th> Fecha que se jugo </th>
                            </tr>    
                        </thead>    
                        <!--ul id="navigation"-->
                        <tbody> 
                           
                            {% for p in partidos %}
                                {% if p.getTermino() %}
                                    <tr>
                                        <td>    {{ p.getEquipo1().getNombre() }}
                                            {% if p.getEquipo1().getLogo() is not null and p.getEquipo1().getLogo() is not empty %}
                                                <a href="{{ asset('uploads/logos/' ~ e.logo) }}">View logo</a>
                                            {%endif%}  
                                        </td>
                                        <td>    {{ p.getEquipo2().getNombre()  }} 
                                            {% if p.getEquipo2().getLogo() is not null and p.getEquipo2().getLogo() is not empty %}
                                                <a href="{{ asset('uploads/logos/' ~ e.logo) }}">View logo</a>
                                            {%endif%}  
                                        </td>

                                        <td> {{ p.getPuntosEquipo1()}}</td>
                                        <td> {{ p.getPuntosEquipo2()}}</td>
                                        {%if p.getPuntosEquipo1()> p.getPuntosEquipo2() %} 
                                            <td >{{ p.getEquipo1().getNombre() }}</td>
                                        {% else  %} 
                                            <td>  {{ p.getEquipo2().getNombre() }}</td>
                                        {% endif %} 

                                        <td> {{p.getHorario()|date('d-m-y') }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        
                            <!--/ul-->
                        </tbody>
                    </table> 
                </div>

            </div>    
        </div>
    </section>          
{% endblock %}
