{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partidos:</h1>

    
       
    <table border="1" >
        
        <ul id="navigation">
           
            {% for p in partidos %}
                {#<!--li><a Equipo1: {{ partido.getEquipo1 }} Equipo2: {{ partido.getEquipo2  }}</a></li-->#}
                 <tr>
                     <td>    Equipo1: {{ p.getEquipo1() }}</td>
                      <td>    Equipo2: {{ p.getEquipo2()  }} </td>
                           {% if p.getTermino() %}
                             <td>Ganador: {{p.getEquipoGanador()}}</td>
                             <td>Puntos Equipo1: {{p.getPuntosEquipo1()}}</td>
                             <td> Puntos Equipo2: {{p.getPuntosEquipo2()}}</td>
                           {% endif %}
                    
                 </tr>
            {% endfor %}
        </ul>
 </table>
{% endblock %}
