<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>{% block title %}Bienvenido!{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Custom styles for this template -->
        {#{<link rel="stylesheet"
                 href="{{ asset('assets/vendor/bootstrap/dist/css/starter-template.css') }}">}#}
        <!-- Bootstrap Core CSS -->

    {% block estilos %} 
        <!-- Custom CSS -->
        <link href="{{asset('css/grayscale.css')}}" rel="stylesheet">

   {% endblock %}
    <!-- Custom Fonts para grey scale -->
   {% block fonts %}
    <link href="{{asset('font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% block navbar %}
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

            <div class="container">
              <div class="navbar-header">

                  <a class="navbar-brand page-scroll" >
                <img class="img-responsive center-block" src="{{ asset('img/escudoCUBB2.jpg') }}" width="35" height="37" alt="escudoCUBB">
                  </a>
               </div>
                <div class="navbar-header">
                    
                    <a class="navbar-brand page-scroll" >
                  
                        <span class="light"> Ultimate  </span>
                    </a>
                </div>
                <!-- Links y acciones -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                        <ul class="nav navbar-nav">
                            <!-- li que se esconde cuando scrolleas -->
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>
                            {% block navList %}
                            {% if app.request.get('_route') != 'homepage' %}
                            <li>
                                <a class="page-scroll"  href="{{path('homepage')}}">Home
                                <i class="glyphicon glyphicon-home"></i>
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="page-scroll"  href="{{path('mostrarTodos')}}">Fixture
                                <i class="glyphicon glyphicon-calendar"></i>  
                                </a>
                            </li>
                            <li>
                                <a class="page-scroll"  href="{{path('mostrarEquipos')}}">Equipos Participantes
                                <i class=" glyphicon glyphicon-globe"></i> 
                                </a>
                            </li>
                            <li>
                                <a class="page-scroll"  href="{{path('mostrarJugadores')}}">Jugadores
                                <i class="glyphicon glyphicon-user"></i> 
                                </a>
                            </li>
                            <li>
                                <a  class="page-scroll" href="{{path('tablaPosiciones')}}">Posiciones
                                     <i class="glyphicon glyphicon-list"></i> 
                                 </a>
                            </li>

                            
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a   class=" page-scroll" href="{{ path('adminPage') }}">
                                        <i class="fa fa-lock"></i> {{ 'Menu administrador'|trans }}
                                    </a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_EDITOR') %}
                                <li class="active link ">
                                    <a href="{{path('cargarResultados')}}">Cargar resultados
                                     <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                </li>
                               
                            {% endif %}
                            
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li>
                                    <a   class=" page-scroll" href="{{ path('logout') }}">Logout
                                  <i class="glyphicon glyphicon-log-out"></i>  
                                    </a>
                               </li>
                            {% else %}
                                <li>
                                    <a class=" page-scroll" href="{{ path('loginForm') }}">Login
                                         <i class=" glyphicon glyphicon-log-in"></i>   
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}
                        </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>


    {% endblock %} 

{% block body %}{% endblock %}


<!-- Footer -->
<footer>

    <div class="container text-center col-md-8 col-md-offset-2">
        <p>Copyright &copy; Autores: Koll-Larrieu</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{#{<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>}#}
{#{  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>}#}
{#{<script src="../../dist/js/bootstrap.min.js"></script>}#}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#{ <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>}#}
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="{{ asset('js/pruebas.js') }}"></script>
<!-- jQuery -->
<script src="{{asset('js/jquery.js')}}"></script>
<!-- Plugin JavaScript -->
<script src="{{ asset('js/jquery.easing.min.js')}}"></script>
<!-- Bootstrap Core JavaScript --> 
<script src="{{asset('js/bootstrap.min.js')}}"></script>


<!-- Custom Theme JavaScript -->
<script src="{{asset('js/grayscale.js')}}"></script>
<!-- Script to Activate the Carousel -->
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->


{% block script %}{% endblock %}
</body>
</html>
