{% extends '/default/admin.html.twig' %}
{% block estilos %}
    {{ parent() }}
     <link href="{{ asset('css/login-style.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<section id="equipos" class="content-section text-center">
<div class='form-section'>
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
        {% if equipos is empty%}
         <p>No hay equipos para editar</p>
        {% else %}
            <h2>Equipos: </h2>
              <div class="table-responsive">
              <table class="table ">
                <thead>
                     <tr>
                         <th>Nombre</th>
                         <th>Origen</th>
                         <th>Logo</th>
                         <th> <span class="glyphicon glyphicon-edit"></span> </th>
                     </tr>
                </thead>
                <tbody>
                {% for p in equipos %}
                 <tr>
                     <td>   {{ p.getNombre() }}</td>
                     <td>   {{ p.getOrigen() }} </td>
                     <td>   {{ p.getLogo() }}</td>
                        <td><a href="{{ path('editarEquipo', {'idEquipo': p.getId()}) }}#team" class="btn" role="button">Editar</a>
                        </td>
                 </tr>
                {% endfor %}
                </tbody>
              </table>
        {% endif %}
          </div>
        </div>
    </div>
</div>
</section>

{% block form %}
{% endblock %}

{% endblock %}