{% extends '/default/admin.html.twig' %}
{% block estilos %}
    {{ parent() }}
     <link href="{{ asset('css/login-style.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<section id="partidos" class="content-section text-center">
<div class='form-section'>
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
        {% if partidos is empty%}
         <p>No hay partidos para editar</p>
        {% else %}
            <h2>Partidos: </h2>
              <div class="table-responsive">
              <table class="table ">
                <thead>
                     <tr>
                         <th>Equipo A</th>
                         <th>Equipo B</th>
                         <th> <span class="glyphicon glyphicon-edit"></span> </th>
                     </tr>
                </thead>
                <tbody> 
                {% for p in partidos %}
                 <tr>
                     <td>     Equipo1: {{ p.getEquipo1().getNombre() }}</td>
                      <td>    Equipo2: {{ p.getEquipo2().getNombre()  }} </td>
                        <td><a href="{{ path('editarPartido', {'idPartido': p.getId()}) }}" class="btn" role="button">Editar</a>
                        </td>
                 </tr>
                {% endfor %}
                </tbody>
              </table>
        {% endif %}
          </div>
        </div>
    </div>
</div>
</section>

{% block form %}
{% endblock %}

{% endblock %}