{# empty Twig template #}
{% extends 'default/editor.html.twig' %}
{% block body %}
  
    <div class="main container">
		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
					<h2>{% trans %}Cargar Resultado{% endtrans %}</h2>
				</div>
                     {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'role' : 'form'}}) }}
			 <h4 class="text-danger">{{ form_errors(form) }}</h4>   
                         <fieldset>
					    <div class="form-group">
					        {{' Equipo 1' }}
					        {{ form_widget(form.puntosEquipo1, {'attr': {'class': 'form-control', 'placeholder' : 'puntos del equipo 1'}}) }}
					        <span class="text-danger">{{ form_errors(form.puntosEquipo1) }}</span>
					    </div>
                                            
                                            <div class="form-group">
					        {{ 'Equipo 2 '}}
					        {{ form_widget(form.puntosEquipo2, {'attr': {'class': 'form-control', 'placeholder' : 'puntos del equipo 2'}}) }}
					        <span class="text-danger">{{ form_errors(form.puntosEquipo2) }}</span>
					    </div>
                        </fieldset>

				    <p>
				        {{ form_widget(form.guardar, {'label' : 'Guardar resultado', 'attr': {'class': 'btn btn-success'}}) }}
				    </p>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}