{# empty Twig template #}
{% extends 'default/editor.html.twig' %}

{% block body %}
    <h1>Jugadores:</h1>
    <h4>Equipo: {{equipo1.getNombre()}}</h4>
    <table border="1" >
        
        <ul id="navigation">
           
            {% for j in jugadoresEquipo1%}
               
                 <tr>
                     <td>   
                         Nombre: {{ j.getNombre() }}  
                     </td>
                     <td> 
                         <a href="{{path('asignarEstadisticas',{'idJugador':j.getId(),'idPartido': partido.getId() }) }}" class=" btn btn-sm btn-primary" > 
                             {{'Asignar estadisticas del partido'|trans}}
                          </a>  
                      </td> 
                     <td>
                      
                      </td>
                 </tr>
            {% endfor %}
        </ul>
 </table>
<h4>Equipo: {{equipo2.getNombre()}}</h4>
    <table border="1" >
        
        <ul id="navigation">
           
            {% for j in jugadoresEquipo2%}
               
                 <tr>
                     <td>    Nombre: {{ j.getNombre() }}  </td>
                     
                 </tr>
            {% endfor %}
        </ul>
 </table>
{% endblock %}

