
{% extends 'base.html.twig' %}

{% block body %}
   <section class="container content-section ">
     <div class="row">   
          <div class="col-lg-8 col-lg-offset-2"> 
           
             <h2>Jugadores:</h2>
             <table border="0">  
                 <td>    
                            <h4>{{equipo1.getNombre()}}</h4>
                               <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>  Nombre </th>
                                                         <th>    </th>
                                                       
                                                    </tr>    
                                                </thead>    
                                  
                                         <tbody> 
                                       {% for j in jugadoresEquipo1%}

                                            <tr>
                                                <td>   
                                                {{ j.getNombre() }}  
                                                </td>
                                                <td> 
                                                    <a href="{{path('asignarEstadisticas',{'idJugador':j.getId(),'idPartido': partido.getId() }) }}" class=" btn btn-sm btn-primary" > 
                                                        {{'Asignar estadisticas del partido'|trans}}
                                                     </a>  
                                                 </td> 
                                               
                                            </tr>
                                       {% endfor %}
                                 </tbody>
                            </table>
                             </div>
                                <h4> {{equipo2.getNombre()}}</h4>
                                    <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>  Nombre </th>
                                                         <th>    </th>
                                                       
                                                    </tr>    
                                                </thead>    

                                          <tbody> 

                                            {% for j in jugadoresEquipo2%}

                                                 <tr>
                                                     <td>    {{ j.getNombre() }}  </td>
<td>                                               <td>
                                                    <a href="{{path('asignarEstadisticas',{'idJugador':j.getId(),'idPartido': partido.getId() }) }}" class=" btn btn-sm btn-primary" > 
                                                        {{'Asignar estadisticas del partido'|trans}}
                                                     </a>  
                                                 </td> 
                                                 </tr>
                                                 
                                            {% endfor %}
                                             </tbody> 
                                  

                                              </table>
                                             </div>
                      </td>
                      
                      <td>
                      <!--aca iria la columna para editar jugador -->
                      {% block formularioJugador %}
                          FORMULARio
                      {% endblock %}
                      </td>
                    </table>
                     </div>
		</div>
	</section>
{% endblock %}

