
{% extends 'base.html.twig' %}

{% block body %}
    <section id="about" class="container content-section text-center">
     <div class="row">   
          <div class="col-lg-10 col-lg-offset-2">
               <h2>Editar Partidos:</h2>
                 <div class="table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>   Equipo A </th>
                                 <th>   Puntos </th>
                                <th>   Equipo B </th>
                                <th>   Puntos </th>
                            </tr>    
                        </thead>    
    
                  <tbody> 
             {% if partidos is empty %}
                       {{'no hay partidos cargados'}}   
                        {% else %}    
            {% for p in partidos %}
               
                 <tr>
                     <td>   {{ p.getEquipo1().getNombre() }} </td>
                     <td> 
                         {% if p.termino() %}
                             {{ p.getPuntosEquipo1()  }}  
                         {% else %}
                            -    
                         {% endif %}
                     </td>
                      <td>   {{ p.getEquipo2().getNombre()  }}</td>
                       <td> 
                            {% if p.termino() %}
                             {{ p.getPuntosEquipo2()  }}  
                         {% else %}
                            -   
                         {% endif %}
                       </td>
                      
                    
                      <td>  
                           
                          <a href="{{path('updateResultados',{'idPartido': p.getId }) }}" class=" btn" > 
                             {% if p.termino() %}
                                 {{'Editar resultado'|trans}}
                              {% else %}
                                    {{'cargar resultado'|trans}}
                             {% endif %}
                      </a>  
                      </td>
                      
                       <td>  
                        <a href="{{path('editarJugadores',{'idPartido': p.getId }) }}" class=" btn" > 
                        {{'cargar estadisticas de jugadores'|trans}}
                         </a>  
                      </td>
                 </tr>
            {% endfor %}
            {% endif %}
                    </tbody>
                        </table> 
                       </div>  
                  </div>    
             </div>
           </section>         
{% endblock %}
